nav.navbar.navbar-default
    .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') reddit clone  
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          form.navbar-form.navbar-left(role='logout')
            #error-message.form-group
              input#link.form-control(type='url', placeholder='http://www.reddit.com', pattern='https?://.+', required='', style='margin-right: 1em')
            button#addPost.btn.btn-default(type='button', style='margin-right: 1em') Post link
            label.control-label.error(for='link', style='color:white')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Hello #{session.email}
            li
              form.navbar-form.navbar-left(role='logout')
                button#logout.btn.btn-default(type='submit') Logout
            