input:valid{
  border: 1px solid green;
}

input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

.arrow {
  font-size: 3em; 
  display: inline-block; 
  position: relative;
}

.voting {
  text-align: center;
}